plugin/
dein
tags*
.netrwhist
pythonpath.vim
nodepath.vim
autoload/plugged/*
vimspector-config/gadgets/*
paths.vim
session
wiki/
pack/
utils/java/*
lua-language-server/
eclipse.jdt.ls/
.language-servers/
.debuggers/
spell/

*.tmp
*.temp
*.bak
*.backup
*.old
lua/.DS_Store
.DS_Store